# ─── Database ─────────────────────────────────────────────────────────────────
DATABASE_URL="postgresql://sebastian:sebastian@localhost:5432/sebastian_db"
# DATABASE_URL="postgresql://sebastian:sebastian@postgres:5432/sebastian_db" # use this if is run in devcontainer or docker compose

# ─── Server ───────────────────────────────────────────────────────────────────
PORT=3001
NODE_ENV=development

# ─── CORS ─────────────────────────────────────────────────────────────────────
FRONTEND_URL=http://localhost:3000

# ─── LLM (Sebastian AI) ──────────────────────────────────────────────────────
LLM_API_KEY=your_api_key_here
LLM_MODEL=claude-sonnet-4-6
